body{
/* 
   background: url(../imgs/tribeca.jpg) no-repeat center fixed;
   background-size: cover;
   */
}

h1.title{
    position: relative;
    left: 45%;
    width: 100%;
    
}

hr.one{
    display: block;
    content: "";
    height: 30px;
    //margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.two{
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

p{
    color: white;
    word-wrap: break-word;
    padding: 20px 20px;
    background-color: rgba(0,0,0,.5);
    left: 20%;
    right: 30%;
}

.content{
    position: relative;
    top: 20%;
}