.register{
    position: absolute;
    left: 800px;
    top: 375px;
    background-color: transparent;
}

html{
    background: url(../imgs/tribeca_bridge.jpg) no-repeat center fixed;
    background-size: cover;
}