.register{
    position: absolute;
    left: 47%;
    top: 49%;
    color: transparent;
}

body{
    background: url(../imgs/tribeca_bridge.jpg) no-repeat center fixed;
    background-size: cover;
}

label{
    color: white;
}

h2{
    color: white;
}