<html>
  <body>
    <a href="/">Home</a>
    <form method="POST" enctype="multipart/form-data">
      Schedule a Message
      Username<input name="email" type="email">
      Password<input name="password" type="password">
      Recipients<input name="recipients" type="text">
      Time<input name="time" type="datetime-local">
      Subject<input name="subject" type="text">
      Message<input name="message" type="text">
      Attachments<input name="attachment" type="file" multiple>
      <input name="schedule-email" type="submit" value="submit">
    </form>
    <form method="POST">
      Set an Automatic Reply
      Username<input name="email" type="email">
      Password<input name="password" type="password">
      Response Subject<input name="subject" type="text">
      Response<input name="response" type="text">
      <input name="set-reply" type="submit" value="submit">
    </form>
    <form method="POST" enctype="multipart/form-data">
      Upload a File to Gallery
      <input type="file" name="file">
      <input name="upload-file" type="submit" value="submit">
    </form>
  </body>
</html>
