<!DOCTYPE HTML><br><br>
<link rel="stylesheet" href="../static/css/contact.css"><br><br>
<!DOCTYPE HTML><br>
<br><br>
 <link href="../static/css/contact.css" rel="stylesheet"><br>
  <br><br>
   <!DOCTYPE HTML><br>
   <br><br>
    <link href="../static/css/contact.css" rel="stylesheet"><br>
     <br><br>
      {% extends "base.html" %}<br>
      <br><br>
       {% block body %}<br>
       <br><br>
        <h1><br>
         <br><br>
          Contact<br>
          <br><br>
          </br><br>
         </br><br>
        </h1><br>
        <br><br>
         <p><br>
          drflndfkldna<br>
email@gmail.com<br>
         </p><br>
         <br><br>
          {% endblock %}<br>
          <br><br>
          </br><br>
         </br><br>
        </br><br>
       </br><br>
      </br><br>
     </br><br>
    </link><br>
   </br><br>
  </br><br>
 </link><br>
</br>