<!DOCTYPE HTML>

<link rel="stylesheet" href="../static/css/contact.css">

{% extends "base.html" %}
{% block body %}

<div class="container">
  <h2>Contact</h2>
  Email at <a href="mailto:{{muncemail}}">{{muncemail}}</a>
  <!--
  <form class="form-horizontal" role="form" method="POST">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="f_name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="l_name">Subject:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="subj" name="subj" placeholder="Ex: Conference Date">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="l_name">Message:</label>
      <div class="col-sm-10">          
        <textarea rows="5" class="form-control" id="msg" name="msg" placeholder=""></textarea>
      </div>
    </div>
    <input name="submit" type="submit" class="btn btn-default">
-->
</div>

{% endblock %}
