<!DOCTYPE HTML>

{% extends "base.html" %}
{% block body %}
<div class="container">
  <form role="form" method="POST">
    <div class="form-group">
      <label for="comment"><h2>Update About</h2></label>
      <textarea class="form-control" type="text" rows="5" id="about" name="about"></textarea>
      <h2>Update Contact</h2>
      <div class="form-group">
	<label for="name">Name:</label>
	<input type="text" class="form-control" id="name" name="name" placeholder="Update Name">
      </div>
      <div class="form-group">
	<label for="email">Email:</label>
	<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-default" value="about">Submit</button>
    </div>
  </form>
</div>

<!--
<div class="container">
  <form role="form" method="POST">
   
    <button type="submit" class="btn btn-default" value="contact">Submit</button>
  </form>
</div>
-->
{% endblock %}
