<!DOCTYPE HTML>
<link rel="stylesheet" href="../static/css/home.css">
{% extends "base.html" %}
{% block body %}

<div class="main">
  <div class="text"> STUY MUNC </div>
  
</div>

<div class="main">
  <h3 class="text" id="clock" data-year="{{year}}" data-month="{{month}}" data-day="{{day}}" data-hour="{{hour}}" data-minute="{{minute}}"></h3>
</div>

<a href="/register" type="button"><button class="register reghover">Register</button></a>
<script src="static/js/home.js" type="text/javascript"></script>
{% endblock %}
