<!DOCTYPE HTML>
<link rel="stylesheet" href="../static/css/register.css">

{% extends "base.html" %}
{% block body %}

<div class="container">
  <h2>Advisor Form</h2>
  <form method="POST">
    {% for field in advisor_fields %}
    <div class="form-group">
      <label class="control-label col-sm-2">{{field.field}}</label>
      <input type="text" name="{{field.field}}" class="form-control" id="email">
    </div>
    {% endfor %}
    <input type="submit" name="submit" value="advisor" class="btn default-btn">
  </form>
  <h2>Delegate Form</h2>
  <form method="POST">
    {% for field in delegate_fields %}
    <div class="form-group">
      <label class="control-label col-sm-2">{{field.field}}</label>
      <input type="text" name="{{field.field}}" class="form-control" id="email">
    </div>
    {% endfor %}
    <input type="submit" name="submit" value="delegate" class="btn default-btn">
  </form>
  <hr>
  <h2>Sign Up for our Mailing List</h2>
  <form method="POST">
    <div class="form-group">
      <label class="control-label col-sm-2">Email</label>
      <input type="text" name="email" class="form-control">
    </div>
    <input type="submit" name="submit" value="interest" class="btn default-btn">
  </form>
</div>

 
{% endblock %}
<script src="../static/js/register.js"></script>
