<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="../static/css/schedule.css">


{% extends "base.html"%}
{% block body%}
<form method="POST">
{% for item in schedule %}
<div class="scheduled-event">
  <strong>Starts:</strong> {{ item.start }}<br>
  <strong>Ends:</strong> {{ item.end }}
  <br>
  <strong>Event:</strong> {{ item.event }}
  <br>
  {{ item.description }}
  <br>
  <div class="checkbox">
     <label>
      <input name="delete-event" type="checkbox" value="{{item._id}}"> Delete
    </label>
  </div>
</div>
{% endfor %}
<input type="submit" name="edit-schedule" value="submit">
</form>
{% endblock%}

